{% extends "base.html" %}

{% block page_title %} Home {% endblock page_title %}
{% block content %}

<div class="mb-3">
    <a href="/people" style="font-size: 20pt;">Poeple</a>
    {%for person in people.object_list %}
    <h3>{{person.name}} is {{person.kind}}</h3>
    {%endfor%}
    <h5>
        {% if people.has_previous %}
        <a href="?page1={{people.previous_page_number}}&page2={{movie_page}}&page3={{book_page}}"class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i></a>
        {% endif %}

        {{people.number}} of {{people.paginator.num_pages}}

        {% if people.has_next %}
        <a href="?page1={{people.next_page_number}}&page2={{movie_page}}&page3={{book_page}}"class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i></a>
        {% endif %}
    </h5>
</div>

<div class="mb-3">
    <a href="/movies" style="font-size: 20pt;">Movie</a>
    {%for movie in movies.object_list %}
    <h3>{{movie.title}} by {{movie.director}}</h3>
    {%endfor%}
    <h5>
        {% if movies.has_previous %}
        <a href="?page1={{person_page}}&page2={{movies.previous_page_number}}&page3={{book_page}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i></a>
        {% endif %}

        {{movies.number}} of {{movies.paginator.num_pages}}

        {% if movies.has_next %}
        <a href="?page1={{person_page}}&page2={{movies.next_page_number}}&page3={{book_page}}" class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i></a>
        {% endif %}
    </h5>
</div>

<div class="mb-3">
    <a href="/books" style="font-size: 20pt;">Book</a>
    {%for book in books.object_list %}
    <h3>{{book.title}} by {{book.writer}}</h3>
    {%endfor%}
    <h5>
        {% if books.has_previous %}
        <a href="?page1={{person_page}}&page2={{movie_page}}&page3={{books.previous_page_number}}"class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i></a>
        {% endif %}

        {{books.number}} of {{books.paginator.num_pages}}

        {% if books.has_next %}
        <a href="?page1={{person_page}}&page2={{movie_page}}&page3={{books.next_page_number}}"class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i></a>
        {% endif %}
    </h5>
</div>

{% endblock content %}