{% extends "base.html" %}
{% block page_name %} Movie {% endblock page_name %}
{% block content %}
<h1>Movie</h1>
{%for movie in movies %}
<h3>
    <a href="{% url "movies:movie_detail" movie.pk %}"</a>
        {{movie.title}} // {{movie.director}}</h3>
{%endfor%}
<h5>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">⏪</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">⏩</a>
    {% endif %}
</h5>
<div>
    <a href="{% url 'movies:movie_create'%}">Create Movie</a>
</div>
{% endblock content %}