{% extends "base.html" %}
{% block page_name %} Person {% endblock page_name %}
{% block content %}

<div class="container mx-auto pb-10">
    <div class="flex flex-wrap px-4 overflow-hidden">
    {% for person in people  %}
        {% include 'mixins/person_card.html' with person=person %}
    {% endfor %}
    </div>
    <div class="flex items-center justify-center mx-auto container mt-5">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-left fa-lg"></i>
            </a>
        {% endif %}

        <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-right fa-lg"></i>
            </a>
        {% endif %}

    </div>
    <div class="mt-3 pl-5">
        <a href="{% url 'people:create'%}">Create Person</a>
    </div>
</div>

{% endblock content %}